* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.container {
  width: 280px;
 
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: 3s;
}

/* IMAGE SECTION */
.image-section {
  position: relative;
}

.image {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.off{
    position:absolute;
    bottom: 10px;
    width: 100px;
    background-color: rgba(56, 56, 186, 0.5);
    color: white;
    font-weight: 700;
    text-align: center;
}

/* NAME + RATING */
.name-section {
  padding: 10px 12px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-section h2 {
  font-size: 16px;
}

.rating {
  background: green;
  color: white;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 4px;
}

/* FOOD + PRICE */
.food-section {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #444;
}

.food {
  font-weight: 400;
}

.price {
  font-weight: 600;
}

/* DURATION */
.duration-section {
  padding: 6px 12px 12px;
  text-align: right;
  font-size: 13px;
  font-weight: 600;
}
.container:hover {
  background-color: white;
  transform: scale(1.01);
  box-shadow: 0px 8px 10px black;
  transition: 0.3s ease;
}
